{% extends 'base.html' %}
{% block content %}
<!-- content below copied over from base.html file -->
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="post-preview">
          <a href="https://www.goodreads.com/quotes/tag/gandalf#:~:text=%E2%80%9CI%20will%20not%20say%3A%20do,all%20tears%20are%20an%20evil.%E2%80%9D&text=%E2%80%9CMany%20that%20live%20deserve%20death.">
            <h2 class="post-title">
              Many that live deserve death. And some that die deserve life. 
            </h2>
            <h3 class="post-subtitle">
              Can you give it to them? Then do not be too eager to deal out death in judgement.
            </h3>
          </a>
          <p class="post-meta">Posted by
            <a href="https://en.wikipedia.org/wiki/Gandalf">Gandalf</a>
            on September 24, 2019</p>
        </div>
        <hr>
        <div class="post-preview">
          <a href="https://www.thecharacterquotes.com/balin">
            <h2 class="post-title">
              It appears we have lost our burglar. Probably for the best. 
            </h2>
            <h3 class="post-subtitle">
              The odds were always against us. After all, what are we? Merchants, miners, tinkerers, toy-makers. Hardly the stuff of legend.
            </h3>
          </a>
          <p class="post-meta">Posted by
            <a href="https://en.wikipedia.org/wiki/Balin_(Middle-earth)">Balin</a>
            on September 18, 2019</p>
        </div>
        <hr>
        <div class="post-preview">
          <a href="https://bookroo.com/quotes/thorin-oakenshield">
            <h2 class="post-title">
              There is nothing like looking, if you want to find something. You certainly usually find something, 
            </h2>
            <h3 class="post-subtitle">
              if you look, but it is not always quite the something you were after.
            </h3>
          </a>
          <p class="post-meta">Posted by
            <a href="https://en.wikipedia.org/wiki/Thorin_Oakenshield">Thorin Oakenshield</a>
            on August 24, 2019</p>
        </div>
        <hr>
        <div class="post-preview">
          <a href="http://lotrproject.com/quotes/character/bilbo">
            <h2 class="post-title">
              Do you wish me a good morning,
            </h2>
            <h3 class="post-subtitle">
              or mean that it is a good morning whether I want it or not; or that you feel good this morning; or that it is a morning to be good on?
            </h3>
          </a>
          <p class="post-meta">Posted by
            <a href="https://en.wikipedia.org/wiki/Bilbo_Baggins">Bilbo Baggins</a>
            on July 8, 2019</p>
        </div>
        <hr>
        <!-- Pager -->
        <div class="clearfix">
          <a class="btn btn-primary float-right" href="http://lotrproject.com/quotes/book/TheHobbit">More Posts &rarr;</a>
        </div>
      </div>
    </div>
{% endblock %}

