{% extends 'base.html' %} {% block content %}

<div class="row">
    <div class="col-md-5 text-center">
        <img src="{{ member.image_source }}" alt="Profile image for {{ member.name }}" />
    </div>
    <div class="col-md-7">
        <h2>{{ member.name }}</h2>
    </div>
</div>

<div class="col-md-12">
    <p>
        {{ member.description }}
    </p>
</div>

<div class="clearfix">
    <a class="btn btn-primary float-right" href="{{ url_for('about') }}">Return &rarr;</a>
</div>

{% endblock %}
